<%= form_for @member, url: "/teams/addMember" do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Add a Student to the team</h2>

	<%= f.hidden_field :team_id, :value => params[:id] %>
  
  <div class="field">
    <%= f.label :student %>
    <%= f.collection_select :student_id, @students, :id, :full_name %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
