<p id="notice"><%= notice %></p>

<h2>
    <%= @team.name %>
</h2>

<p>
  <b>Repo:</b>
  <%= @team.repo %>
</p>

<div class="well span-full">
	<%= render :partial => "students/student", :collection => @team.students, :locals => {:minimize_links => true } %>
</div>

<div class="well span-full" style="float:left">
	<%= render "add_member" %>
</div>

<div id="bottom-actions">
<%= link_to 'Edit', edit_team_path(@team), :class => "btn"  %> 
<%= link_to 'All Teams', teams_path , :class => "btn" %>
</div>