<%= form_for(@student, :html => {:multipart => true}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  
  <div class="field">
    <%= f.label :netid %>
    <%= f.text_field :netid %>
  </div>
  
  <div class="field">
    <%= f.label :major %>
    <%= f.collection_select :major_id, @majors, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :classification %>
    <%= f.collection_select :classification_id, @classifications, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :image_file %>
    <%= f.file_field :image_file %>
  </div>
  <div class="field">
    <%= f.label :section %>
    <%= f.collection_select :section_id, Section.all, :id, :to_s %>
  </div>

<div class="field">
    <%= f.label :repo %>
    <%= f.text_field :repo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
