<h2>  <%= @student.full_name %></h2>

<div class="span3">
	<%= image_tag @student.image_url, :width => 200, :class => 'profile' %>
</div>

<div class="span8">
	<p>
	  <b>Netid:</b>
	  <%= @student.netid %>
	</p>

	<% unless @student.teams.empty? %>
		<p><b>Team</b> <%= link_to "Team", team_path(@student.teams.first) %></p>
	<% end %>


	<p>
	  <b>Classification:</b>
	  <%= @student.classification.name %>
	</p>

	<p>
	  <b>Section:</b>
	  <%= @student.section %>
	</p>
</div>
