<div class="span3 well student-well <% unless defined?(minimize_links).nil? %>well-nested <% end %>">  
	<h3><%= link_to student.full_name, student_path(student) %></h3>

	<%= image_tag student.image_url, :width => 100 %>

<p>
  <b>Netid:</b>
  <%= student.netid %>
</p>


<p>
  <b>Classification:</b>
  <%= "a #{student.classification.name} #{student.major.name} Student..." %> 
</p>
<% if defined?(minimize_links).nil? %>
<p>
  <b>Section:</b>
  <%= student.section %>
</p>

<p>
   <%= link_to 'Details', student, :class => 'btn btn-small' %>
   <%= link_to 'Update', edit_student_path(student), :class => 'btn btn-small' %>
   <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-small' %>
</p>

<% end %>



</div>
