<h1><%= @students.count %> Students // Seating chart</h1>

<div id="top-actions">
    <%=  link_to "View Students", students_path %>
</div>




 <% (1..4).each do | i | %>
        
       <div class="row" id="row-<%= i %>" >
           <% @rows[i].reverse.each do | seat | %>
                	<% unless seat.student.nil? %>
                <div seat-id="<%= seat.id %>">
	               <%= image_tag seat.student.image_url, :width => 100 %>
	               <%= seat.student.full_name %>

                </div>
	                <% end %>
           <% end %>
        </div>
    <% end %>