<h1><%= @students.count %> Students</h1>

<div id="top-actions">
	<%= link_to "View as list", student_list_path %> | 
	<%= link_to "View Seating Chart", student_chart_path %> | 
	<%= link_to "Add Student", new_student_path %>
</div>
<div class="row-fluid">

	
	<% @students.each do | student | %>
		
		<%= render  student %>
		
	<% end %>


</div>
<div id="bottom-actions">
	<%= link_to 'New Student', new_student_path %>
</div>