<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @member.team %>
</p>

<p>
  <b>Student:</b>
  <%= @member.student %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
